.btnStyle {
	background-color: #222831;
	color: #eeeeee;
	border-style: solid;
	border-width: medium;
}

/* @media (min-width: 960px) {
	.col-md-3 .well {
		height: 390px;
	}

	.col-md-3 img {
		height: 240px;
	}
} */

.poster {
	height: 500px !important;
	width: 400px !important;
}

.darkbg {
	background-color: black !important;
}

.whiteText {
	color: white;
}

/* Button styles */
button {
	background-color: #4caf50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover {
	opacity: 0.8;
}

/* movie-card */
.fixed-height {
	height: 400px;
	overflow: hidden;
}
.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.card-footer {
	background-color: transparent !important;
	padding: 0 !important;
	border: none !important;
}

.card {
	height: 400px;
	margin-bottom: 2rem;
}

@media (max-width: 575.98px) {
	.card {
		max-width: 100%;
	}
}

/* star review */
.rate {
	float: left;
	height: 46px;
	padding: 0 10px;
}
.rate:not(:checked) > input {
	position: absolute;
	top: -9999px;
}
.rate:not(:checked) > label {
	float: right;
	width: 1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 30px;
	color: #ccc;
}
.rate:not(:checked) > label:before {
	content: "★ ";
}
.rate > input:checked ~ label {
	color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
	color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
	color: #c59b08;
}

/* comment date */

small.text-right {
	position: absolute;
	right: 0;
	font-size: 12px;
}
